<h1>Innovated drinks</h1>

<p>Hey. Here are innovational drinks created with &hearts;<br>Want to realize/manufactor one of this? Just make a click and make a hipster happy. (Or "erfülle sein Lebensziel")</p>
<table>
  <tr>
    <th>Title</th>
    <th>Build it</th>
  </tr>

  Use snippet to show drink here
  <% @drinks.each do |drink| %>
    <tr>
      <td><%= drink.title %></td>
      <td><%= link_to 'Apply', apply_path(drink) %> </td>
    </tr>
  <% end %>
</table>
